
*
{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei";
}
body
{
    background-image: url('../img/messageboard_bg.jpg');

}
#wrap
{
    width: 700px;
    height: 500px;
    margin:50px auto 0;
}
#displayArea
{
    box-sizing: border-box;
    width: 700px;
    height: 400px;
    margin:0 auto;
    padding: 30px 40px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
    font-size:14px;
    color:#666;
}
#displayArea .message
{
    color:#999;
    font-size:12px;
}
#bottomArea
{
    width: 700px;
    height: 120px;
    margin:0 auto;
    background-color: rgba(51, 51, 51, 0.3);
}
#inputLine
{
    width: 100%;
    height:35px;
    padding-top:30px;
}
#textInput
{
    float: left;
    height:33px;
    width: 400px;
    margin-left: 60px;
    overflow: hidden;
    resize: none;
}
#submit
{
    border: 0;
    float: left;
    height:35px;
    width: 120px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #666;
}
#submit:hover
{
    background-color: rgba(255, 255, 255, 0.6);
}
#status
{
    height:20px;
    width: 500px;
    line-height: 20px;
    text-align: left;
    font-size: 12px;
    margin-left: 60px;
    margin-top: 10px;
    color:#111;
}